.pagina-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fefefe;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  }
  
  .pagina-container h2 {
    color: #39322c;
    margin-bottom: 1rem;
  }
  
  .pagina-container p {
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  
  .pagina-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .pagina-container li {
    margin-bottom: 0.5rem;
  }
  